/* base */
body {
  background-image: url('{{ "img/geometry2.png" | relURL }}');
}

/* anchors */
a,
a:visited {
  color: #2bbc8a;
  background-image: none;
  text-decoration: underline;
}

/* navbar */
nav a,
nav a:visited {
  color: #41403e;
  text-decoration: none;
}

/* blockquote */
blockquote {
  font-style: italic;
}

/* post list */
.post-list {
  font-size: 2rem;
}
.summary {
  margin-bottom: 0.1rem;
}

/* post single */
.post-title {
  margin-bottom: 0.1rem;
}

/* toc */
.toc {
  padding: 1em;
  margin-top: 1em;
}
.toc h2 {
  font-size: 1.3em;
}

nav .nav-brand h3 {
  margin-bottom: 0;
  flex: 1;
}

nav .nav-brand {
  display: flex;
  align-items: center;
}


nav .nav-brand img {
  height: 2rem;
  border: 0;
  margin-right: 0.5rem;
}

main img {
  margin: 0 auto;
}

.posts-list {
  display: flex;
  margin-top: 2rem;
}

.posts-list .thumbnail {
  width:100%;
  flex: 0.3;
  margin-right: 1rem;
}
.posts-list .thumbnail img {
  width:100%;
  height:140px;
  object-fit:cover;
}

.posts-list .summary {
  flex: 0.7;
}

.posts-list .summary h2{
  margin: 0;
}


.posts-list .summary strong a {
  text-decoration: none;
  color: #41403e;
}

.posts-list .summary .text {
  margin-top: 0.5rem;
}

.posts-list .summary .text a {
  text-decoration: none;
  color: #41403e;
}

.reading-time {
  margin-left: 1rem;
}


.post-details {
  display: flexbox;
}

h1.post {
  margin-bottom: 0
}

nav a, nav a:visited {
  color: #2bbc8a;
}

nav a:hover {
  color: #41403e;
}
