{{ define "main" }}
{{ .Content }}
{{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}

{{ range $paginator.Pages.ByPublishDate.Reverse }}


  <div class="posts-list">
    <div class="thumbnail">
      <a href="{{ .RelPermalink }}">
        <img src="{{ with .Params.image }}{{ . }}{{ end }}" />
      </a>
    </div>
    <div class="summary">
      <a href="{{ .RelPermalink }}">
        <h2 class="post-list {{ if ne .Params.show_summary false }}summary{{ end }}">
          {{ .Title }}
        </h2>
      </a>
      <div class="post-details"><strong><a href="{{ .RelPermalink }}"><i class="lni lni-calendar"></i> {{ .Date.Format "Mon, Jan 2, 2006" }}</a></strong> <strong class="reading-time"><a href="{{ .RelPermalink }}"><i class="lni lni-alarm-clock"></i> {{ math.Round (div (countwords .Content) 220.0) }} min read</a></strong></div>

      {{ if ne .Params.show_summary false }}
        <div class="text">
          <a href="{{ .RelPermalink }}">
            {{ .Description | markdownify }}
          </a>
        </div>
      {{ end }}
    </div>
  </div>

{{ end }}
{{ template "partials/pagination.html" . }}
{{ end }}
